@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

// Define fonts
$roboto: 'Roboto', sans-serif;

// Define breakpoints
$break-small:   600px;
$break-middle:  601px;
$break-large:   992px;
$break-xlarge:  1200px;

// Define color and opacity default
$color-black: #000000;
$opacity: 0.87;


@mixin RobotoFont {
    font-family: $roboto;
}


// Define media queries
@mixin small {
    @media only screen and (max-width: $break-small) { @content };
}

@mixin middle {
    @media only screen 
        and (min-width: $break-middle) 
        and (max-width: $break-large) { @content };
}

@mixin large {
    @media only screen and (max-width: $break-large) { @content };
}

@mixin xlarge {
    @media only screen 
        and (max-width: $break-xlarge) { @content };
}

// Define classes
* {
    @include RobotoFont;
}

.container {
    font-size: 10px;
    color: rgba($color: $color-black, $alpha: $opacity);

    @include small {
        width: 90%;
    }

    @include middle {
        width: 85%;
    }

    @include large {
        width: 70%;
    }

    @include xlarge {
        width: 70%;
    }
}